workflows/localprospects-lead-email-generator.json
{
  "name": "LocalProspects Lead Email Generator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "LocalProspects Lead Search",
        "formFields": {
          "values": [
            {
              "fieldLabel": "keyword",
              "placeholder": "electrician",
              "requiredField": true
            },
            {
              "fieldLabel": "location_code",
              "fieldType": "number",
              "placeholder": "1012938",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -640,
        -80
      ],
      "id": "8d1511ad-526a-4c5a-b7e7-7b4f6fbf2b83",
      "name": "On form submission"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://localprospects.ai/api/v1/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_LOCALPROSPECTS_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{ $json.keyword }}"
            },
            {
              "name": "location_code",
              "value": "={{ Number($json.location_code) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        -80
      ],
      "id": "b602bd3a-74b5-4a67-a84e-cd87d88b9806",
      "name": "Start LocalProspects search"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -160,
        -80
      ],
      "id": "d7c77bb6-b176-45cc-80f4-18313e4b9880",
      "name": "Wait 30 seconds"
    },
    {
      "parameters": {
        "url": "={{ 'https://localprospects.ai/api/v1/job/' + $node['Start LocalProspects search'].json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_LOCALPROSPECTS_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        -80
      ],
      "id": "62fa4f25-4173-43c6-a91a-c8cae0f3f719",
      "name": "Poll job status"
    },
    {
      "parameters": {
        "jsCode": "const status = String($json.status || '').toLowerCase();\nconst failedStatuses = ['failed', 'error', 'cancelled', 'canceled'];\n\nif (failedStatuses.includes(status)) {\n  const detail = $json.error || $json.message || 'No error detail returned by the API.';\n  throw new Error(`LocalProspects job ended with status \"${$json.status}\": ${detail}`);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -80
      ],
      "id": "0bba8136-6f0a-4d3c-8200-6f276387f8d9",
      "name": "Stop on failed job"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1cc96f4-8431-4687-8c7e-a601f719daff",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        -80
      ],
      "id": "d52722f4-145c-4511-b067-5c2dc88a7e98",
      "name": "Job completed?"
    },
    {
      "parameters": {
        "url": "={{ 'https://localprospects.ai/api/v1/job/' + $node['Start LocalProspects search'].json.job_id + '/results' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_LOCALPROSPECTS_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        -180
      ],
      "id": "35e0a33a-18be-4ce2-8b2b-a462cf478d71",
      "name": "Get enriched results"
    },
    {
      "parameters": {
        "jsCode": "const body = $json;\nconst results = Array.isArray(body.results)\n  ? body.results\n  : Array.isArray(body.data?.results)\n    ? body.data.results\n    : Array.isArray(body.businesses)\n      ? body.businesses\n      : [];\n\nif (!results.length) {\n  return [];\n}\n\nconst search = $node[\"Start LocalProspects search\"].json || {};\nconst form = $node[\"On form submission\"].json || {};\n\nreturn results.map((lead, index) => ({\n  json: {\n    ...lead,\n    localprospects_meta: {\n      job_id: search.job_id,\n      keyword: form.keyword,\n      location_code: Number(form.location_code),\n      lead_index: index + 1,\n      total_leads: results.length\n    }\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -180
      ],
      "id": "3ca45520-8d01-4530-b062-a0e25bad1a52",
      "name": "Create one item per lead"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chat-latest",
          "mode": "list",
          "cachedResultName": "CHAT-LATEST"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert cold email copywriter for a small SEO agency. Use only facts present in the lead data. Do not invent names, rankings, traffic numbers, or website problems. Write plain text with no markdown."
            },
            {
              "role": "user",
              "content": "={{ `Write one personalized outreach email for this LocalProspects lead.\n\nOffer: a practical local SEO tune-up for service businesses: Google Business Profile cleanup, service/location pages, technical SEO fixes, schema, review/reputation improvements, and conversion fixes that help turn search visitors into calls.\n\nUse any helpful fields in the lead JSON, including business name, website, categories, address, rating, reviews, emails, phones, social links, GBP URL, website text, headings, meta description, technologies, and other enrichment fields. If a field is missing, ignore it.\n\nOutput exactly:\nSubject: ...\nEmail:\nHi ...,\n\n...\n\nRules:\n- Under 130 words.\n- Mention one specific detail from the lead when available.\n- Sound human and lightly personalized, not spammy.\n- Do not claim you audited the site unless the JSON contains enough website details.\n- Do not mention LocalProspects, n8n, or the JSON.\n- Use a generic signoff with \"Bennett\" as the sender.\n\nLead JSON:\n${JSON.stringify($json, null, 2)}` }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1280,
        -180
      ],
      "id": "fac8e95f-e0cf-48f7-aea1-4c69139457e9",
      "name": "Write personalized email"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        -180
      ],
      "id": "e9fb0065-759e-44fb-b8a0-9eddf6dd05eb",
      "name": "Replace with your save step"
    },
    {
      "parameters": {
        "content": "## Step 1: Start a LocalProspects.ai search",
        "height": 120,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -680,
        -300
      ],
      "id": "50750e08-b6e9-4658-a701-bb488ae9b686",
      "name": "Step 1 note"
    },
    {
      "parameters": {
        "content": "## Step 2: Poll until enrichment completes or fails clearly",
        "height": 120,
        "width": 700
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -300
      ],
      "id": "9c496b84-8e5f-46f4-8a17-915147572bd4",
      "name": "Step 2 note"
    },
    {
      "parameters": {
        "content": "## Step 3: Create one item per lead and draft personalized SEO emails",
        "height": 120,
        "width": 760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        780,
        -400
      ],
      "id": "ec0a63eb-4c57-4d11-908e-d9ec754a4ebd",
      "name": "Step 3 note"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Start LocalProspects search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start LocalProspects search": {
      "main": [
        [
          {
            "node": "Wait 30 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 seconds": {
      "main": [
        [
          {
            "node": "Poll job status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll job status": {
      "main": [
        [
          {
            "node": "Stop on failed job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop on failed job": {
      "main": [
        [
          {
            "node": "Job completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job completed?": {
      "main": [
        [
          {
            "node": "Get enriched results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get enriched results": {
      "main": [
        [
          {
            "node": "Create one item per lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create one item per lead": {
      "main": [
        [
          {
            "node": "Write personalized email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write personalized email": {
      "main": [
        [
          {
            "node": "Replace with your save step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
